background = #2BA8F7
blanco = #fff


::selection
  background #E0E0E0
  color blanco

/* FIN DE COLORES */

a
  color #000
  text-decoration none

a:hover, a:focus
  color #000
  text-decoration none

body
  font-family: 'Roboto', sans-serif;
  font-size 16px
  margin 0
  padding 0

footer
  background background
  color blanco
  height 120px
  overflow hidden

form
  background #424242
  color blanco
  margin 2em auto
  max-width 600px
  padding 2em

li
  list-style none

ul
  padding 0
  

/* FIN DE TAGS HTML */

.ancla-lista
  display inline-block

.article-webs
  text-align center

.avatar
  border 2px solid blanco
  border-radius 100%
  height 180px
  width  180px

.avatar:hover
  transition .7s linear
  transform rotateY(360deg)
  border-color orange

.avatar, .textos-header
  display inline-block
  margin-top 1em
  vertical-align middle

.contador
 color blanco

.conocimientos
  background-color blanco
  border-top 5px solid background
  margin  3em 0
  padding 1em
  width 18%

.cursos
  background #ACF0FF
  display flex
  justify-content center
  margin-top 2em

.font-light
  font-weight 300

.habilidades
  background #ACF0FF
  display flex
  justify-content center

.header
  background background
  color blanco
  height 220px
  text-align center

.header-article-webs
  margin-top 2em

.header-educacion
  text-align center
  padding-bottom 1.5em

.header-footer
  padding-top 1.8em
  text-align center

.header-footer:after
  content " -"

.header-footer:before
  content "- "

.header-habilidades
  border-bottom 1px solid darkgrey
  font-weight 400

.idiomas
  color #A8DF73

.input
  border none
  border-radius 6px
  display inline-block
  height 50px
  font-family 'Source Sans Pro'
  font-size 1.2em
  margin-top 1.5em
  outline 0
  width 90%

.juegos
  background #ffcb1f
  border-bottom 3px solid darkslategrey
  border-radius 5px
  color #000000
  font-size 18px
  margin 1em auto
  padding .5em
  max-width 150px

.lista
  padding-right 3em
  word-spacing 3em

.mensaje
  border none
  border-radius 6px
  font-family 'Source Sans Pro'
  font-size 1.2em
  margin-top 1.5em
  outline 0
  width 90%

.menu-fijo
  background background
  color      #fff
  height     40px
  margin     0 auto
  padding    0
  position   fixed
  top        0
  width      100%
  z-index    9999

.menu-fijo > .ancla-lista
  color blanco

.nav
  margin 0
  padding 0
  text-align center

.range
  width 75%

.redes
  text-align center

.submit
  border none
  border-radius 6px
  cursor pointer
  height 30px
  font-size 18px
  font-family 'Source Sans Pro'
  outline 0
  background blanco

.text-habilidades
  border-radius 6px
  background #E0E0E0
  color blanco
  display inline-block
  margin .2em .1em
  padding .4em

.textos-header
  width 50%
  text-align left
  padding-left 2em

.trabajo
  background-color blanco
  border-top 5px solid background
  margin  3em 3em
  padding 1em
  width 18%

.que-hice
  text-align center

.web
  border 1px solid #a9a9a9
  box-shadow 3px 3px 3px #a9a9a9
  height 250px
  width 400px

@media screen and (max-width: 1400px)
  .conocimientos, .trabajo
    width 32%

@media screen and (max-width: 790px)
  .habilidades
    flex-wrap wrap

  .cursos
    flex-wrap wrap

  .conocimientos
    width 90%

  .trabajo
    width 90%
    margin 0 0 2em 0

  .header
    height auto

  .lista
    word-spacing .2em
    margin-right .2em

@media screen and (max-width: 660px)
  .lista
    word-spacing 0
    margin 0
    padding-right .3em

  .textos-header
    display block
    width 90%
    text-align center

@media screen and (max-width: 490px)
  form
    margin-bottom 0

  .conocimientos
    width 88%

  .lista
    margin 0 auto
    padding 0

  .trabajo
    width 88%
    margin 0 0 2em 0

  .textos-header
    padding-bottom .3em

  .web
    width 90%

